<!DOCTYPE html>
<html>
  <head>
    <title>syabikuri</title>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <style type="text/css">
      body {
        margin: 0px;
      }
      canvas {
        position: absolute;
        left: 0;
        top: 0;
      }
      .balloon {
        background-color:#dcdcdc;
        border-radius:5px;
        position:relative;
      }
      .balloon:after {
        border:15px solid transparent;
        border-bottom-color:#dcdcdc;
        border-top-width:0;
        top:-15px;
        content:"";
        display:block;
        left:80px;
        position:absolute;
        width:0;
      }
    </style>
  </head>
  <body>
    <div id="operation_view" class="container">
      <div class="masthead">
        <h3 class="text-muted">syabikuri</h3>
      </div>
      <div class="jumbotron" style="background-image:url(images/jumbotron-bg.jpg)">
        <div style="max-width:700px;"><h1>しゃべくり写真でザワつかせよう！</h1></div>
      </div>
      <div class="row">
        <div class="col-lg-4">&nbsp;</div>
        <div class="col-lg-4">
          <div>
            <input id="take_picture_front" type="button" style="font-size: 24px;" class="btn" value="写真を選ぶ">
            <input id="take_picture_back" type="file" accept="image/*" capture="camera" style="display: none;">
            </br>
            </br>
            <span style="font-size: 150px; color: #336699;" class="glyphicon glyphicon-user"></span>
            <span id="picture_ok" style="font-size: 40px; color: #66cc00; display: none;" class="glyphicon glyphicon-ok"></span>
          </div>
          <div class="balloon" style="padding: 15px; text-align: center;">
            <textarea id="sentence" placeholder="文章を入力する" style="width:100%; height: 100px; border:none;"></textarea>
            <input type="button" id="speak" class="btn btn-success" style="font-size: 24px; margin-top: 8px;" value="しゃべくる">
          </div>
        </div>
        <div class="col-lg-4">&nbsp;</div>
      </div>
    </div>
    <div id="face_view" style="display: none;">
      <canvas id="mouth_bg" style="z-index: 1;"></canvas>
      <canvas id="moving_mouth" style="z-index: 2;"></canvas>
      <button id="prayback" class="btn" style="position: absolute; z-index: 3; top: 10px; left: 10px;">
        <i class="glyphicon glyphicon-repeat" style="font-size: 45px;"></i>
      </button>
      <button id="home" class="btn" style="position: absolute; z-index: 3; top: 10px; left: 90px;">
        <i class="glyphicon glyphicon-home" style="font-size: 45px;"></i></button>
    </div>
  </body>
</html>