<!DOCTYPE html>
<html>
  <head>
    <title>syabikuri</title>
    <style type="text/css">
      body {
        margin: 0px;
      }
      canvas {
        position: absolute;
        left: 0;
        top: 0;
      }
    </style>
  </head>
  <body>
    <div id="operation_view">
      <!-- TODO: ここに写真選択、テキスト入力のビューを書く -->
      <input type="button" id="speak" class="btn btn-primary" value="しゃべくる">
      <input type="file" accept="image/*" capture="camera">
    </div>
    <div id="face_view" style="display: none;">
      <canvas id="mouth_bg" style="z-index: 1;"></canvas>
      <canvas id="moving_mouth" style="z-index: 2;"></canvas>
    </div>
  </body>
</html>