<h1>Face#speak</h1>
<p>Find me in app/views/face/speak.html.erb</p>
    <script type="text/javascript">
        var language = "ja";
        var format = "audio/mp3";
        var option = "MinSize"
        var text = "こんにちわ";
                    
        function getToken(){
            console.log("getToken_p1");
            $.ajax({
                url: 'https://datamarket.accesscontrol.windows.net/v2/OAuth2-13/',
                type: 'get',
                headers: {
                    'client_id' : 'syabikuri',
                    'client_secret' : 'QOj9v30w3iRepb7qEmVvfEXlBGVUOCkt+/8xVxBkYgg=',
                    'scope' : 'http://api.microsofttranslator.com',
                    'grant_type' : 'client_credentials'
                },
                dataType: 'json'
            }).done(function() {
                console.log('成功');
            });
            console.log("getToken_p2");
        }
        
        function speak() {
            console.log("speak_p1");
            PageMethods.GetAccessToken(OnSucceeded, OnFailed);
            console.log("speak_p2");
        }
        
        function OnSucceeded(result, usercontext, methodName) {
            console.log("OnSucceeded_p1");
            window.mycallback = function (response) { console.log("result_p1"); alert(response); }
            
            console.log("OnSucceeded_p2");
            var s = document.createElement("script");
            s.src = "http://api.microsofttranslator.com/V2/Ajax.svc/Speak?oncomplete=mycallback&appId=syabikuri " + encodeURIComponent("access_token") + "&text=" + text + "&language=" + language + "&format=" + format;
            document.getElementsByTagName("head")[0].appendChild(s);
            console.log("OnSucceeded_p3");
        }
        function OnFailed(error, userContext, methodName) {
            alert("Error");
        }
    </script>
</head>
<body>
    <form method="post" id="token_form" action="https://datamarket.accesscontrol.windows.net/v2/OAuth2-13/" target="response_token">
        <input type="hidden" name="client_id" value="syabikuri" >
        <input type="hidden" name="client_secret" value="QOj9v30w3iRepb7qEmVvfEXlBGVUOCkt+/8xVxBkYgg=" >
        <input type="hidden" name="scope" value="http://api.microsofttranslator.com" >
        <input type="hidden" name="grant_type" value="client_credentials" >
        
        <input type="submit" id="send" value="送信">
    </form>
    <iframe id="response_token" name="response_token"></iframe>
</body>
</html>
        